.contact-page {
  @height: 60px;
  @padding: 5px;

  .contact-page-container {
    box-shadow: 0 5px 10px grey;

    min-height: @height + @padding * 2;
    line-height: @height;
    padding-top: @padding;
    padding-bottom: @padding;
    margin-bottom: @padding;
    margin-left: 0px;
    margin-right: 0px;
  }

  .contact-page-user {
    margin-top: 15px;
    .contact-page-name, .contact-page-email {
      line-height: normal;
    }
    .contact-page-email {
      font-size: 12px;
    }
  }

  .contact-page-phone {
    height: 25px;
    line-height: normal;
    text-align: right;

    .contact-page-phone-number {
      vertical-align: middle;
    }

    .btn {
      padding: 0px;
      border-radius: 0px;
      margin-left: @padding;
    }
  }
}
